<style>
    .warp-navbar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .warp-navbar > .logo {
        width: 100px;
        font-weight: 600;
    }
</style>
<div class="wrap-navbar">
    <div class="logo">TODO-List</div>
    <div class="logo">TODO-List</div>
</div>
