<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">홈</a>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/post"
                        >글작성</a
                    >
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/post/del">글삭제</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/post/update">글수정</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active">Disabled</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
