<!DOCTYPE html>
<html lang="en">
    <% include ./head.ejs %>
    <style>
        .wrapcard {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            flex-wrap: wrap;
        }
    </style>
    <body>
        <% include ./navbar.ejs%>
        <div class="wrapcard">
            <% for(var i = 0; i < post.length; i++) {%> <% include ./card.ejs%>
            <% } %>
        </div>
    </body>
</html>
