<style>
    a {
        text-decoration: none;
    }
    .navbar {
        width: 100%;
        height: 96px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .logo {
        margin-left: 8px;
        font-size: 36px;
    }
    .login {
        margin-right: 8px;
    }
    .login > a {
        padding: 8px 16px;
        background: black;
        color: white;
        font-size: 16px;
        border-radius: 128px;
        transition: all 0.3s;
    }
    .login > a:hover {
        background: #333;
    }
    .menu {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 24px;
    }
    .menu > .menu_btn {
        padding: 8px 24px;
        font-size: 18px;
        color: #ccc;
    }
    .menu > .menu_btn:first-child {
        margin-left: 8px;
    }
    .menu > .sel {
        color: black;
        border-bottom: 2px solid black;
    }
</style>
<div class="navbar">
    <div class="logo">블로그</div>
    <div class="login">
        <a href="">로그인</a>
    </div>
</div>
<div class="menu">
    <div class="menu_btn sel">트렌딩</div>
    <div class="menu_btn">최신</div>
</div>
